<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzk.videomodule.mapper.VideoStatMapper">

    <resultMap id="BaseResultMap" type="com.zzk.videomodule.entity.VideoStat">
            <id property="vid" column="vid" />
            <result property="exposureCount" column="exposure_count" />
            <result property="playCount" column="play_count" />
            <result property="likeCount" column="like_count" />
            <result property="dislikeCount" column="dislike_count" />
            <result property="coinCount" column="coin_count" />
            <result property="favoriteCount" column="favorite_count" />
            <result property="shareCount" column="share_count" />
            <result property="commentCount" column="comment_count" />
            <result property="danmuCount" column="danmu_count" />
            <result property="avgWatchSec" column="avg_watch_sec" />
            <result property="avgCompletionRate" column="avg_completion_rate" />
            <result property="hotScore" column="hot_score" />
            <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="Base_Column_List">
        vid,exposure_count,play_count,like_count,dislike_count,coin_count,
        favorite_count,share_count,comment_count,danmu_count,avg_watch_sec,
        avg_completion_rate,hot_score,update_time
    </sql>
</mapper>
