<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzk.interactionmodule.mapper.CommentMapper">

    <resultMap id="BaseResultMap" type="com.zzk.interactionmodule.entity.Comment">
            <id property="commentId" column="comment_id" />
            <result property="vid" column="vid" />
            <result property="uid" column="uid" />
            <result property="rootId" column="root_id" />
            <result property="parentId" column="parent_id" />
            <result property="replyToUid" column="reply_to_uid" />
            <result property="content" column="content" />
            <result property="status" column="status" />
            <result property="isTop" column="is_top" />
            <result property="likeCount" column="like_count" />
            <result property="replyCount" column="reply_count" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="Base_Column_List">
        comment_id,vid,uid,root_id,parent_id,reply_to_uid,
        content,status,is_top,like_count,reply_count,
        create_time,update_time
    </sql>
</mapper>
