<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzk.recommendmodule.mapper.RecommendItemSimilarityMapper">

    <resultMap id="BaseResultMap" type="com.zzk.recommendmodule.entity.RecommendItemSimilarity">
            <id property="id" column="id" />
            <result property="vid" column="vid" />
            <result property="relatedVid" column="related_vid" />
            <result property="score" column="score" />
            <result property="source" column="source" />
            <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,vid,related_vid,score,source,update_time
    </sql>
</mapper>
